{{- define "Title" -}} {{- with (.Tags.Get "upnp:albumArtURI") }}
<img style="max-width: 16px; max-height: 16px" src="{{ . }}" /> {{- else -}} {{- with (.Tags.Get "upnp:icon") -}}
<img style="width: 16px; height: 16px" src="{{ . }}" /> {{- end -}}{{- end -}}&nbsp;{{.Title}} {{- end -}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" />-->
    <title>{{ .model.Object.Title }} - DMS</title>
    {{- $base := .pathPrefix }}
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg sticky-top">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="navbar-brand" href="#">{{- template "Title" .model.Object -}}</a>
                </li>
            </ul>
            <a class="navbar-brand d-none d-md-inline" href="https://github.com/anacrolix/dms">DMS</a>
        </nav>
        <table class="table table-striped table-sm">
            <tbody>
                {{- with .model.Object.Tags }}
                <tr>
                    <th colspan="3">Tags</th>
                </tr>
                {{- range $name, $value := . }}
                <tr>
                    <td>{{ $name }}</td>
                    <td colspan="2">{{ $value }}</td>
                </tr>
                {{- end }} {{- end }} {{- with .model.Object.Res }}
                <tr>
                    <th colspan="3">Resources</th>
                </tr>
                {{- range . }}
                <tr>
                    <td colspan="2">
                        <a href="{{ .URL }}">{{ .URL }}</a>
                    </td>
                    <td class="text-right">{{.Size}}</td>
                </tr>
                {{- end }} {{- end }} {{- with .model.Children }}
                <tr>
                    <th colspan="3">Children</th>
                </tr>
                {{- range . }}
                <tr>
                    <td>
                        <a href="{{$base}}{{.ID}}">{{- template "Title" . -}}</a>
                    </td>
                    <td class="text-right">{{if not .IsContainer }}{{.Size}}{{ end }}</td>
                    <td class="text-right">{{.ModTime.Format "2006-02-01 15:04 MST"}}</td>
                </tr>
                {{- end }} {{- end }}
            </tbody>
        </table>
    </div>
</body>

</html>